@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif';
    font-size: large;
}
nav{
    background-color: #ec5310;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 20px;
}
#selection{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#account{
    display: flex;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: #E4DFDA;
}
.sub-menu{
    padding: 5px;
    border-top: 1px solid #E4DFDA;
}
#sub-menu1{
    display: none;
}
#sub-menu2{
    display: none;
}
#sub-menu3{
    display: none;
}
#sub-menu4{
    display: none;
}
#sub-menu5{
    display: none;
}
#sub-menu6{
    display: none;
}
#sub-menu7{
    display: none;
}
main{
    background-color: #E4DFDA;
}
footer{
    background-color: #ec5310;
    text-align: center;
    line-height: 3em;
    color: #E4DFDA;
}

.home{
    background-color: #ec5310;
    overflow: hidden;
}
.title{
    color: #E4DFDA;
    font-size: 8em;
    padding-left: 15px;
    text-shadow: 2px 2px 5px #888;
    position: relative;
    z-index: 999;
}
.circle{
    background-color: #E4DFDA;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: relative;
    top: -40%;
    left: 60%;
}
.circle a{
    color: black;
}
@media (max-width: 1200px) {
    .title{
        font-size: 100px;
    }
    .circle{
        width: 700px;
        height: 700px;
        top: -10%;
        left: 30%;
    }
}
@media (max-width: 550px) {
    .title{
        font-size: 80px;
    }
    .circle{
        width: 500px;
        height: 500px;
        font-size: 30px;
        top: 5%;
        left: 0;
    }
}
.account{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
form{
    width: 40%;
    margin: 30px;
}
input , button{
    width: 100%;
    margin: 5px 0;
    line-height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 0 ;
    border-radius: 20px;
}
.radio input{
    width: 20%;
}
select{
    width: 100%;
    font-size: large;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 20px;
}
legend{
    text-align: center;
}
button{
    font-size: large;
    cursor: pointer;
}
.media{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img{
    width: 20px;
    margin: 5px;
}
.link-text{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.link-text a{
    color: navy;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 1200px) {
    form{
        width: 50%;
    }
}
@media (max-width: 550px) {
    form{
        width: 60%;
    }
}
.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.productSection{
    width: 800px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brandTitle{
    text-align: center;
    color: #000;
}
.splitLine{
    width: inherit;
    height: 0px;
    border: 1px solid #000;
    margin: 20px 0;
}
.productLine{
    width: inherit;
    display: flex;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.productTitle{
    width: 200px;
}
.productContent{
    color: #000;
    margin: 20px 0;
}
@media (max-width: 1200px) {
    .productSection{
        width: 500px;
    }
    .productLine{
        flex-wrap: wrap;
    }
}
@media (max-width: 550px) {
    .productSection{
        width: 300px;
    }
}